body {
  font-family: "Lilex", "Courier New", Courier, monospace;
  margin: 0;
  overflow: hidden;
  background-color: rgba(12 12 16 / 100%);
}

table {
  border-collapse: collapse;
}

table:has(table) {
  border: 1px solid black;
}
